.footer {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $terciary-color;
  color: $primary-color;
  &__socials {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    a {
      margin: 5px;
    }
    a:hover {
      cursor: pointer;
    }
  }
  img {
    width: 30px;
    height: 30px;
  }
  p {
    font-size: .7rem;
  }
}