.footer {
  margin-top: auto;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: $light-terciary-color;
  color: $light-primary-color;
  transition: all .3s;
  &__socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    a {
      margin: 5px;
      border-radius: 15px;
    }
    a:hover {
      cursor: pointer;
    }
    a:focus-visible {
      outline: none;
      border: 2px solid $light-primary-color;
    }
  }
  img {
    display: flex;
    justify-self: center;
    align-items: center;
    width: 30px;
    height: 30px;
  }
  p {
    font-size: .7rem;
  }
}