// Font variables
$font1: 'Roboto', sans-serif;
$font2: 'Lato', sans-serif;

// Light palette
$light-primary-color: #FCF8EC;
$light-secondary-color: #D0E8F2;
$light-terciary-color: #79A3B1;
$light-variation-color: #456268;

// Dark palette
$dark-primary-color: #283149;
$dark-secondary-color: #404B69;
$dark-terciary-color: #00818A;
$dark-variation-color: #DBEDF3;

* {
  margin: 0;
  padding: 0;
  font-family: $font1;
}

body {
  height: 100vh;
  background-color: $light-secondary-color;
  color: $light-variation-color;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}