// Font variables
$font1: 'Roboto', sans-serif;
$font2: 'Lato', sans-serif;
$currentTheme: 'light';

$primary-color: "";
$secondary-color: "";
$terciary-color: "";
$variation-color: "";

// Light palette
$light-primary-color: #FCF8EC;
$light-secondary-color: #D0E8F2;
$light-terciary-color: #79A3B1;
$light-variation-color: #456268;

// Dark palette
$dark-primary-color: #283149;
$dark-secondary-color: #404B69;
$dark-terciary-color: #00818A;
$dark-variation-color: #DBEDF3;

@if ($currentTheme == 'light') {
  $primary-color: $light-primary-color;
  $secondary-color: $light-secondary-color;
  $terciary-color: $light-terciary-color;
  $variation-color: $light-variation-color;
} @else {
  $primary-color: $dark-primary-color;
  $secondary-color: $dark-secondary-color;
  $terciary-color: $dark-terciary-color;
  $variation-color: $dark-variation-color;
}

.dark-theme {
  $primary-color: $dark-primary-color;
  $secondary-color: $dark-secondary-color;
  $terciary-color: $dark-terciary-color;
  $variation-color: $dark-variation-color;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font1;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $secondary-color;
  color: $variation-color;
}

html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
}