.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .6rem;
  margin-bottom: 5px;
  max-width: 100%;
  height: 40px;
  background-color: $light-terciary-color;
  color: $light-primary-color;
  &__logo {
    font-size: 1.2rem;
  }
  &__navbar {
    display: none;
  }
}