.main-section {
  display: block;
  &__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 10px;
    input {
      height: 40px;
      margin: 5px 10px;
      padding: 10px;
      border-radius: 3px;
      border: 1px solid $light-terciary-color;
      background-color: rgba(255,255,255, 0.5);
      font-family: $font1;
      outline: none;
    }
    button {
      height: 40px;
      margin: 5px 10px;
      border-radius: 3px;
      font-weight: 700;
      border: none;
      font-size: .9rem;
      cursor: pointer;
      background-color: $light-terciary-color;
      color: $light-primary-color;
      font-family: $font1;
    }
    button:focus-visible { 
      outline: none;
      background-color: $light-variation-color;
    }
  }
  &__input-information {
    @extend .main-section__statistics;
    h1 {
      display: flex;
      justify-content: center;
      text-align: center;
      font-size: 1.5rem;
    }
  }
  &__input-container {
    @extend .main-section__statistics-container;
    p {
      font-size: 1rem !important;
    }
  }
  &__statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px 10px;
    &-container {
      border: 1px solid $light-terciary-color;
      border-radius: 3px;
      width: 100%;
      margin-bottom: 15px;
      padding: 20px;
      text-align: center;
      h1 {
        font-size: 1rem;
        font-weight: 300;
        margin-bottom: 5px;
      }
      p {
        font-size: 2rem;
        font-weight: bold;
      }
    }
  }
  .bigTitle {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

// p tag created with JS
#errorTag {
  margin: 10px 10px;
  color: #c44109;
}